.footer {
    position: relative;
    overflow: hidden;
    padding: 10rem 0 23rem;

    ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #121211;
        background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #121211 100%), url(../img/footer-bg2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1;
    }

    &__text {
        margin: 0 auto;
        width: 45%;
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-align: center;
    }

    &__button-box {
        margin: 5rem auto;
        width: 20%;
        display: flex;
        justify-content: space-around;
    }

    &__button {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #FF62FA;

        &:hover {
            background-color: #5DE5EE;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 1224px) {
    .footer {
        padding: 8rem 0 23rem;
        &__text {
            width: 47%;
        }

        &__button-box {
            width: 25%;
        }
    }
}

@media (max-width: 940px) {
    .footer {
        padding: 8rem 0 3rem;
        &__text {
            width: 65%;
        }

        &__button-box {
            width: 35%;
        }

        ::before {
            background-image: none;
            background: #121211;
        }
    }
}

@media (max-width: 700px) {
    .footer {
        padding: 8rem 0 0;
        &__text {
            width: 75%;
        }

        &__button-box {
            width: 60%;
        }
    }
}

@media (max-width: 350px) {
    .footer {
        &__text {
            font-size: 1.2rem;
        }
    }
}