.roadmap__card {
    position: relative;
    display: flex;
    flex-direction: column;


    width: 37rem;
    height: 45.5rem;

    background: url(../img/rectangle-roadmap.png) no-repeat;
    background-position: center;
    background-size: cover;

    &--image {
        width: 95%;
        margin: .5rem auto;
        -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0, 95% 0, 100% 12%);
        clip-path: polygon(100% 100%, 0 100%, 0 0, 95% 0, 100% 12%);
    }

    &--title {
        color: #fff;
        font-weight: 900;
        font-size: 2.6rem;
        line-height: 3.3rem;
        padding: 2rem 3rem 0;
    }

    &--separator {
        height: 2rem;
        width: 70%;
        background-image: url("../img/roadmap-separator.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border: none;
        margin: 0 3rem;
    }

    &--list {
        list-style-type: none;
        padding: 2rem 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        & li {
            background-image: url(../img/list-icon.png);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 1.6rem;
            padding-left: 3rem;
        }

        &-item {
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
        }
    }
}

@media (max-width: 380px) {
    .roadmap__card {

        width: 27.7rem;
        height: 34.1rem;

        &--image {
            margin: 0 auto;
        }
        padding: .5rem;

        &--title {
            font-size: 2rem;
            padding: 1rem 2rem 0;
            line-height: 2rem;
        }

        &--list {
            padding: 1rem 1.5rem;
            &-item {
                font-size: 1rem;
            }

            & li {
                padding-left: 2rem;
                background-size: 1.2rem;
            }
        }
    }
}